    @import url('https://fonts.cdnfonts.com/css/Arial');
    @import url('https://fonts.cdnfonts.com/css/open-sans');
    /* @font-face {
        font-family:'Arial';
        src: url('public/css/brush-script-mt/www.freefontsdownload.net.url');


     font-family: 'Open Sans', sans-serif;
    font-family: 'Open Sans Light', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif; */



    *{
        box-sizing: border-box;
    }
    /* html{
        overflow-x: hidden;
    } */

    body{
        font-family: 'Open Sans Light', sans-serif;
        font-size:18px;
        line-height: 1.4;
        margin:0;

    }
    /*----------------------------------header--------------------------------*/
    nav{
        font-family: 'Arial' !important;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.75)!important;

     }
     /* nav{
        display: block !important;
        float: right;


    } */
     nav div{
        margin-left:1.3%;
        margin-right:1.3%;
    }
    nav a{
        justify-content: space-around;

        color:#4684BF;

    }
    a{
        text-decoration: none ;
    }
    .nav-link {
        color:#4684BF !important;
    }
    nav a:hover{

        color:#67aef0;
        transition: 2s;

    }

     .nav-bar{

    height: 500px;
    background-size:cover;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    }

    @media  screen and (max-width:991px) {


        .navbar{
            padding-bottom: 20px !important;
        }
    }
    /* nav{
        display: none !important;


    } */
    .dropdown-item{
        color: #4684BF;
    }


    .div-ac-title{
        margin-left:6% !important;
        margin-top:80px;
    }
    @media screen and (max-width:750px){
        .div-ac-title{

            text-align:center !important;

        }
        .div-ac-title p{
            margin: 10px auto;
        }
    }
    /*---------------------------------------------------------------------------*/








    /*----------------------------------footer---------------------------------*/

    .div-footer{

        height: 350px;
    }


    .footer-filigrane img{
        height: 150px;
        width: 150px;
    }
    .footer-logos img{
        height: 50px;
        width: 50px;
        margin-left: 1%;
        margin-right: 1%;
    }
     /*-----------------------------------------------------------------------*/

    /*----------------------------connexion-----------------------------------*/

    .welcome{
        background-color: #4684BF;
        height: 70px;
        font-family: 'Arial' !important;
        font-weight: bold;
        font-size: 25px;
    }
    .div-form{
        background-position: center;
        background-size: cover;


    }
    .modal-content {
        font-family: 'Arial' !important;
        background-color:#EEEEEE ;
        color: #807f7f;
        /* box-shadow: -2px 4px 20px rgba(0, 0, 0, 0.7); */
        align-items: center;
    }
    .email,.password{
        margin-left: 10px;
        font-weight: bold;
        font-size: 19px;
        margin-bottom: 6px !important;


    }
    #email,#password {
        border: 0.2px solid #4684BF;
        background-color:#FFFFFF ;
        padding-left: 15px;
        outline-color:#4684BF;
        font-size: 16px;
        height: 30px;
        margin-bottom: 15px;


    }


    .eye{
        margin-top: 5.5px;
        position: absolute;
        right:15%;
    }
    #hide1{
        display: none;

    }

    .fa-eye-slash,.fa-eye{
        color: #4684BF;
    }

    .modal-content a{
        color: #4684BF;
        text-decoration: none;
    }
    .modal button{
        background-color: #4684BF;
        box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.39);
        border: none;
        padding-left: 8px;
        padding-right: 8px;
    }
    .modal button a{
        color: #FFFFFF;
    }


    /*-----------------------------------------------------------------------*/

     /*-----------------------------accueil------------------------------------------*/
    .accueil-title,h1{
        font-family: 'Arial' !important;
        font-weight: bold;
        font-size: 25px;
    }

    .consulting .title ,.news .title{
        color: #BD9939;
        font-family: 'Arial' !important;
        font-weight: bold;
        font-size: 30px;
    }


    @media (max-width: 767px) {
        .carousel-inner .carousel-item > div {
            display: none;
        }
        .carousel-inner .carousel-item > div:first-child {
            display: block !important;
        }
        .carousel-item > div{
            width:100% !important;
        }
    }
    .bold{
        font-weight: bold;
    }
    h3{
        font-family: 'Arial' !important;
        font-weight: bold;
        font-size: 25px;
        color:#4684BF;
    }
    h1{
        font-family: 'Arial' !important;
        font-weight: bold;
        font-size: 30px;
        color:#4684BF;
    }

     h2{
        font-family: 'Arial' !important;
        font-weight: bold;
        font-size: 30px;
        color: #BD9939;
    }

    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        display: flex;
    }
    .carousel-control-next,.carousel-control-prev {
        margin-left:15px;
        background-image:none;
    }
    /* medium and up screens */

    .carousel-item > div{
        width:31%;

    }
    .card-1 img{
        background-size: cover;
        object-fit: cover;
        background-position: center;
        height: 300px;
        width:100%;
    }
    .card-1{
        border: none;
    }
      /*-----------------------------------------------------------------------*/
    .card-2 img{
        height:300px;
        object-fit: cover;
        background-size: cover;
        background-position: center;
    }
      h4{
        font-family: 'Arial' !important;
        font-weight: bold;
        font-size: 22px;

      }
      .card-2{
        width:400px;
        margin-left: 50px;
        margin-right: 50px;
        height: 500px;
        justify-content: center;
        padding-bottom: 20px;
        padding-left: 0;
        padding-right: 0;
      }
      .card-container{
        justify-content: center;

      }
      .card-2 .button{
        margin-top: 10px;
        text-decoration: none;
        background-color: #4684BF;
        border-radius: 20px;
        color: white;
        font-weight: bold;
        width:100px;
        margin: 0 auto;

      }
      .card-body-2{
        height: 150px;

      }
      @media screen and (max-width:767px) {
        .card-2{
            margin: 0 auto;
            margin-top:20px;
            width:80%;
          }
          .formation img{
            margin-bottom: 20px !important;
            margin-top: 20px !important;
          }
        }
        .formation img{
            border-radius: 25px;
          }
/*
     .link-formation{
        height: 300px;
        width: 350px;
        border: 1px solid;
        justify-content: center;
        align-items: center;
        padding-top: 150px; */

     /* } */
     .forme .circle{
        width: 150px;
        height: 150px;
        background-color: #4684BF;
        border-radius:50%;
        margin: 0 auto;
        text-align: center;
        transform: translateY(20px);
        padding-top: 25px;
        padding-bottom: 25px;

     }
     .forme h4{
        height: 100px;
     }
     .forme {
        height: 350px;
     }

     .forme h4{
        transform: translate(20px,-60px);
        height: 50px;


    }
    .forme img{
        height: 350px;


    }
    @media screen and (max-width:500px) {
        .forme img,.forme-img{
            width:80%;
        }

    }
    .forme .forme-img{
        transform: translateY(-200px);
    }

     .formation-logo{
        width: 160px;
        height: 160px;
        border-radius: 50%;
        background-color: #4684BF;
        transform: translateY(-100px);
        margin-bottom: px;
        margin-left: 90px;
        z-index:5;
        position: absolute;
        justify-content: center;
     }
     .formation-logo img{
        width: 105px;
        height: 105px;
        object-fit: cover;
        background-position: center;
     }

     .photos img{

        height: 300px;
        border-radius: 25px;
        object-fit: cover;
        background-position: center;
     }

     .videos{

       width: 35%;
     }
     video{
        width: 100%;
        height:auto;
     }
     @media screen and (max-width:700px){
        .videos{
            width:70%;
        }
     }
     .partenaires img{
        height: 150px;
        width: auto;
        object-fit: cover;
        background-position: center;
        background-size: cover;
     }

/*------------------------------------------------inscription--------------------------------------------------  */


    .inscription-formation label,.depotCV label{
        color: #8e8d8d;
        margin-bottom: 10px;
    }

    .inscription-formation label:hover,.depotCV label:hover{
        color: #454444;
    }


    .inscription-formation input,.depotCV input{
        border-radius: 20px;
        border: 0.5px solid #4684BF;
        background-color:#FFFFFF ;
        outline-color: #4684BF;
        padding-left: 15px;
        font-size: 16px;
    }
    .payement img{
        height: 100px;
        width: auto;
        object-fit: cover;
        background-size: cover;
        background-position: center;
    }


    .inscrire{
        border-radius:10px;
        background-color: #4684BF;
        padding-left:10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: none;
        color: white;
        font-weight: bold;
    }
    .photos-rac img{
        border-radius: 30px;
    }
    @media screen and (max-width:575px) {
        .photos-rac img{
            width: 70%;
        }
        .whatsapp .fa-whatsapp{
            height: 45px !important;
        }
    }
    .offres-emploi{
        margin-left: 12%;
        margin-right: 12%;
    }
